<a  routerLink="/buy/{{buyCatBlock._id}}" >
    <div class="block content" >
      <div class="img_b" >
        <img src="{{buyCatBlock.imgs[0]}}" >
      </div>
      <div class="blockBottomBarContainer" >
        <div class="blockBottomBar" >
          <h2 class="catName">{{buyCatBlock.name}}</h2>
          <div class="second_btn" >
            <h2 class="priceText" >{{buyCatBlock.value}}</h2>
            <h2 class="priceTextValue" >руб</h2>
          </div>
        </div>
      </div>
    </div>
  </a>
  
  