@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.topBarContainer{
    background: #512da8;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.chtMenu {
    width: 25px;
    height: 5px;
    background: white;
    border-radius: 15px;
    margin-bottom: 3px;
}
.topBar{
    display:flex;
}
.menu {
    padding: 18px;
}
.menu:hover{
    cursor: pointer;
}
.label{
    font-size: 26px;
    padding: 15.5px;
    font-style: italic;
    color: white;
    font-weight: lighter;
    font-family: 'Comfortaa';
}
.labelContainer{
    margin-left: 35px;
}
.search{
    width: 500px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background: none;
    font-size: 22px;
}
.search:focus{
    outline:none;
}
.searchContainer{
    background: white;
    border-radius: 5px;
    padding: 0px 15px;
    margin: 12px;
}
.navMenu{
    width: 320px;
    height: 1080px;
    background: white;
    border-right: 2px solid #D2D2D2;
    box-shadow: -5px 0px 20px 0px #00000054;
    padding-top: 60px;
    visibility: hidden;
    transition: .3s;
    margin-left: -320px;
    position: fixed;
}
.show{
    margin-left: 0px;
    visibility: visible;
}
.navBtn{
    height: 48px;
}
.btn{
    border-radius: 5px;
    margin: 4px 7px;
    height: 40px;
}
.btn:hover{
    background: #F0F0F0;
}
.btn:active{
    background: #D2D2D2;
}
.textSectionBtn{
    padding: 8.5px;
}
.textBtn{
    font-size: 20px;
    margin-left: 10px;
}
.btnActive{
    color: #582bc4;
    background: #8559da47;
}