.flex {
    width: 1280px;
    display: flex;
}
.poster {
    box-shadow: 0 4px 10px 0px #0000001a;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    margin: 25px 0px;
    transition: .3s;
}
.postersBlock {
    width: 900px;
}
.imageBox {
    width: 250px;
    height: 250px;
    border-right: 3px solid #d2d2d2;
}
.article {
    width: 590px;
    padding: 5px;
    border-bottom: 3px solid #d2d2cb;
}
.description{
    padding: 10px;
    width: 620px;
    font-size: 18px;
    height: 188px;
    overflow: scroll;
}
.poster:hover {
    cursor: pointer;
    box-shadow: 0px 10px 10px 0px #0000001a;
}
.ownerBox {
    padding: 15px;
    margin: 25px 0px 0px 30px;
    height: 600px;
    border: 3px solid #f5f5f5;
    border-radius: 5px;
    text-align: center;
}
.ownerBlock {
    width: 380px;
}
.ownerLogoBox {
    display: grid;
    justify-content: center;
}
.ownerLogo {
    width: 150px;
    height: 150px;
    background: whitesmoke;
    border-radius: 50%;
}
.ownerName > h2 {
    font-size: 27px;
}
.ownerName {
    margin: 10px 0px;
    border-bottom: 3px solid #d2d2d2;
}
.contact {
    display: flex;
    padding: 5px 0px;
    border-bottom: 3px solid #d2d2d2;
}
i {
    font-size: 22px;
    padding: 5px;
}
.contact > h2 {
    margin-left: 35px;
}
.btn {
    padding: 10px;
    margin: 8px 0px;
    border-radius: 5px;
    border: 2px dashed #d2d2d2;
    transition: .2s;
    cursor: pointer;
}
.btn:hover {
    background: #757de8;
    border: 2px solid #757de8;
}
#del:hover{
    border: 2px solid #ff7961;
    background: #ff7961;
}