<div style="margin: 20px 0px" >
    <div style="padding: 20px;display: grid;" class="content" >
        <h2 style="font-size: 30px;justify-self: center;padding: 20px;" >Добавить обьявление</h2>
            <div class="regBox">
                <h2 class="title">Имя</h2>
                <input class="search_interaction regPut" type="text"> 
            </div>
            <div class="regBox">
                <h2 class="title">Пол</h2>
                <div class="radioButtonBox" >
                    <div class="rButton" >
                        <input type="radio" name="gender">Мальчик
                    </div>
                    <div class="rButton" >
                        <input type="radio" name="gender">Девочка
                    </div>
                </div>
            </div>
            <div class="regBox">
                <h2 class="title">Вет. паспорт</h2>
                <div class="radioButtonBox" >
                    <div class="rButton" >
                        <input type="radio" name="gender">Есть
                    </div>
                    <div class="rButton" >
                        <input type="radio" name="gender">Нету
                    </div>
                </div>
            </div>
        <div class="content flex_b" >
            <div class="f_c" >
                <h2>Привита</h2>
            </div>

            <div class="s_c" >
                <input  class="afi"  type="text" >
            </div>
        </div>
        <div class="content flex_b" >
            <div class="f_c" >
                <h2>Приучина к лотку</h2>
            </div>

            <div class="s_c" >
                <input  class="afi"  type="text" >
            </div>
        </div>
        <div class="content flex_b" >
            <div class="f_c" >
                <h2>Стирилизована</h2>
            </div>
            <div class="s_c" >
                <input  class="afi"  type="text" >
            </div>
        </div>
        <h2 class="title">Фото</h2>
        <label class="label_file content">
            <input style="display:none" type="file" >
        </label>
    </div>
</div>

