.content.flex_b {
    padding: 5px;
}
.ad_form_input{
    height: 45px;
    border: none;
    border-radius: 10px;
    width: 180px;
    margin-left: 5px;
    transition: .2s;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Roboto';
    text-align: center;
}
.s_c {
    padding: 0;
}
.ad_form_input:focus {
    outline: none;
    background: whitesmoke;
}
.label_file{
    height: 150px;
    border-radius: 10px;
    margin-top: 15px;
}