.block{
  width: 325px;
  height: 350px;
  margin: 13.5px 13.5px;
  }
  .block:hover .second_btn{
    background: dodgerblue;
    box-shadow: 0 0 10px 0px #1e90ffab;
  }
  .block:hover{
    cursor: pointer;
  }
  .blockBottomBarContainer {
    height: 50px;
    background: #ffffff;
  }
  .blockBottomBar {
    padding: 10px;
    height: 30px;
    display: flex;
  }
  .priceText{
    font-style: italic;
    font-family: "Roboto";
    display: inline-block;
    font-size: 26px;
  }
  .catName{
    width: 205px;
    font-style: italic;
  }
  .priceTextValue{
    font-size: 15px;
      margin-top: 10px;
      font-style: italic;
  }
  a{
    text-decoration:none;
    color: black;
  }