<div class="flex_item_cn" >
    <div style="width: 900px" >
            <div class="f_block" >
                <div class="img_b" >
                </div>
                <div >
                    <div class="second_btn ar_btn" >
                        <h2>Name</h2>
                    </div>  
                        <p class="description" >
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi, rem ratione voluptatum, amet nobis molestiae beatae veritatis ut iusto quas, hic facere nostrum esse eos distinctio illum asperiores aperiam ab?
                        </p>
                </div>
            </div>
            <div class="f_block" >
                <div class="img_b" >
                </div>
                <div >
                    <div class="second_btn ar_btn" >
                        <h2>Name</h2>
                    </div>  
                        <p class="description" >
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi, rem ratione voluptatum, amet nobis molestiae beatae veritatis ut iusto quas, hic facere nostrum esse eos distinctio illum asperiores aperiam ab?
                        </p>
                </div>
            </div>
            <div class="f_block" >
                <div class="img_b" >
                </div>
                <div >
                    <div class="second_btn ar_btn" >
                        <h2>Name</h2>
                    </div>  
                        <p class="description" >
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi, rem ratione voluptatum, amet nobis molestiae beatae veritatis ut iusto quas, hic facere nostrum esse eos distinctio illum asperiores aperiam ab?
                        </p>
                </div>
            </div>
    </div>
    <div>
        <div style="padding: 15px;text-align: center;margin-top: 20px;" class="scroll_box  bl_frame" >
            <div class="ownerLogoBox" >
                <div class="ownerLogo" >

                </div>
            </div>
                <div class="ownerName" >
                    <h2>Name Surname</h2>
                </div>
            <div>
                    <div class="contact" >
                        <i  class="fas fa-phone"></i>
                        <h2>+79877867990</h2>
                    </div>
                    <div class="contact" >
                        <i  class="fas fa-envelope"></i>
                        <h2>mail@xmail.com</h2>
                    </div>
            </div>
            <div class="btns_b"  style="margin-top: 25px;">
                <a class="btns_b" routerLink="/adform" >
                    <div style="display:flex" class="simple_btn" >
                        <div class="ico_box" >
                            <i class="fas fa-plus"></i>
                        </div>
                        <h2>Добавить объявление</h2>
                    </div>
                </a>

                <div style="display:flex" class="simple_btn" >
                    <div class="ico_box" >
                        <i class="fas fa-pen"></i>
                    </div>
                    
                    <h2>Изменить объявление</h2>
                </div>
                <div style="display:flex"  class="simple_btn" >
                    <div class="ico_box" >
                        <i class="fas fa-user-edit"></i>
                    </div>
                    
                    <h2>Изменить аккаунт</h2>
                </div>


            </div>
        </div>
    </div>
</div>
