.ownerLogoBox {
    display: grid;
    justify-content: center;
}
.ownerLogo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid var(--button_background);
}
.ownerName > h2 {
    font-size: 27px;
}
.ownerName {
    margin: 10px 0px;
    border-bottom: 3px solid var(--input_background);
}
.simple_btn > h2 {
    font-size: 20px;
    align-self: center;
}
.ico_box {
    margin-right: 10px;
    width: 35px;
    display: grid;
    place-items: center;
}