<div class="container" >
            <div class="item" >
                <div class="topBarArea" >
                    <a  routerLink="/buy" >
                        <i class="fas fa-arrow-left"></i>
                    </a>
                    <div class="catNameContainer" >
                        <h2 class="catName" >Name</h2>
                    </div>
                    <i  class="fas fa-bookmark favorite"></i>
                </div>
                <div class="imgBoxContainer" >
                    <div class="img" >
                    </div>


                </div>
                <div class="imgFlexRow" >
                    <div class="imgBlockFlex" >
                    </div>
                    <div class="imgBlockFlex" >
                    </div>
                    <div class="imgBlockFlex" >
                    </div>
                </div>
            </div>
    <div>
        <div style="padding: 25px;" class="scroll_box bl_frame">
            <div class="flex_item_cn" >
                <div class="textContainer" >
                    <h2 class="sellerName" >Name</h2>
                </div>
                <div class="imgContainer" >
                    <div class="imgBox" >
                    </div>
                </div>
            </div>
            <div class="buyContainer" >  
                <div class="buyBtn" >
                    <h2>Купить</h2>
                </div>
            </div>
            <div class="buyContainer">
                <div class="contact" >
                    <i  class="fas fa-phone"></i>
                    <h2>+79877867990</h2>
                </div>
                <div class="contact" >
                    <i  class="fas fa-envelope"></i>
                    <h2>mail@xmail.com</h2>
                </div>
                </div>
                <div class="buyContainer" >  
                    <div class="price" >
                        <div class="priceBadge" >
                            <h2>2000руб</h2>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

</div>
