<div class="container" >
    <div class="itemContainer">
        <div class="frame" >
            <div class="item" >
                <div class="topBarArea" >
                    <a  routerLink="/buy" >
                        <i class="fas fa-arrow-left"></i>
                    </a>
                    <div class="catNameContainer" >
                        <h2 class="catName" >Name</h2>
                    </div>
                    <i  class="fas fa-bookmark favorite"></i>
                </div>
                <div class="imgBoxContainer" >
                    <div class="changeImg" ></div>
                    <div class="img" >
                    </div>


                </div>
                <div class="imgFlexRow" >
                    <div class="imgBlockFlex" >
                    </div>
                    <div class="imgBlockFlex" >
                    </div>
                    <div class="imgBlockFlex" >
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shopContainer">
        <div class="frame">
            <div class="sellerBox" >
                <div class="textContainer" >
                    <h2 class="sellerName" >Name</h2>
                </div>
                <div class="imgContainer" >
                    <div class="imgBox" >
                    </div>
                </div>
            </div>
            <div class="buyContainer" >  
                <div class="buyBtn" >
                    <h2>Купить</h2>
                </div>
            </div>
            <div class="contactsContainer" >
                <h2 style="padding: 12px 12px 8px 12px;;font-size: 22px;" >Связь с продавцом:</h2>
                <div class="contact" >
                    <div class="contactBox" >
                        <i class="fas fa-envelope"></i> 
                        <h3 class="contactText" >example@xmail.com</h3>
                    </div>
                </div>
                <div class="contact" >
                    <div class="contactBox" >
                        <i class="fas fa-phone"></i>
                        <h3 class="contactText" >+7-987-786-79-90</h3>
                    </div>
                </div>
                </div>
                <div class="buyContainer" >  
                    <div class="price" >
                        <div class="priceBadge" >
                            <h2>2000руб</h2>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

</div>
