<div class="regContainer formContainer content" >
    <form [formGroup]="form" >
        <div class="regBox">
            <h2 class="title">Имя</h2>
            <input class="search_interaction regPut"type="text" formControlName="name" > 
        </div>
        <div class="regBox">
            <h2 class="title">Фамилия</h2>
            <input class="search_interaction regPut" type="text" formControlName="surname" > 
        </div>
        <div class="regBox">
            <h2 class="title">Почта</h2>
            <input class="search_interaction regPut" type="email" formControlName="email"> 
        </div>
        <div class="regBox" >
            <h2 class="title">Пароль</h2>
            <input class="search_interaction regPut" type="password" formControlName="password" > 
        </div>
        <div class="regBox">
            <h2 class="title">Город</h2>
            <input class="search_interaction regPut" type="text" formControlName="city"> 
        </div>
        <div class="errorsBox" >
            <div class="errorBlock" >
                <h2 [@error]  class="error" *ngIf="form.get('name').invalid && form.get('name').touched">У вас должно быть имя</h2>
                <h2 [@error] class="error" *ngIf="form.get('surname').invalid && form.get('surname').touched">Ты безфамильный?</h2>
                <h2 [@error] class="error" *ngIf="form.get('city').invalid && form.get('city').touched">Как называется твой населенный пункт?</h2>
                <div *ngIf="form.get('email').invalid && form.get('email').touched">
                    <h2 [@error] class="error" *ngIf="form.get('email').errors.required && form.get('email').touched">Введи почту!</h2>
                    <h2 [@error] class="error" *ngIf="form.get('email').errors.email && form.get('email').touched">Неправильная почта</h2>
                </div>
                <div *ngIf="form.get('password').invalid && form.get('password').touched">
                    <h2 [@error] class="error" *ngIf="form.get('password').errors.required && form.get('password').touched">Введи пароль</h2>
                    <h2 [@error] class="error" *ngIf="form.get('password').errors.minlength && form.get('password').touched">Тут мало символов, надо 10+ (пароль)</h2>
                </div>
            </div>
        </div>
        <div class="buttonBox " >
            <button class="buttonMit" type="submit" [disabled]="form.invalid"><h2>Регистрация</h2></button>
            <p style="margin-top: 5px;">Есть аккаунт?</p>
            <a  routerLink="/login">
                <div style="position: absolute;width: 550px;">
                    <h2 class="login" >Войти</h2>
                </div>
            </a>
        </div>
    </form>
</div>