<div style="margin: 20px 0px" >
    <div style="padding: 25px;
        padding-top: 0px;
        display: grid;" class="content" >
        <h2 style="
        font-size: 30px;
        font-family: 'Roboto';
        justify-self: center;
        padding: 20px;
        FONT-WEIGHT: 100;
         font-style: italic;
         padding-bottom: 0px;
        " >Добавить обьявление</h2>
                <div class="regBox">
                    <h2 class="title">Имя</h2>
                    <input style="    width: 440px;" class="search_interaction regPut" type="text"> 
                </div>
        <div class="content flex_b" >
            <div class="f_c" >
                <h2>Возраст</h2>
            </div>

            <div class="s_c" >
                <input  class="ad_form_input"  type="text" >
            </div>
        </div>
        <div class="content flex_b" >
            <div class="f_c" >
                <h2>Пол</h2>
            </div>

            <div class="s_c" >
                <input  class="ad_form_input"  type="text" >
            </div>
        </div>
        <div class="content flex_b" >
            <div class="f_c" >
                <h2>Порода</h2>
            </div>

            <div class="s_c" >
                <input  class="ad_form_input"  type="text" >
            </div>
        </div>
        <div class="content flex_b" >
            <div class="f_c" >
                <h2>Вет. паспорт</h2>
            </div>

            <div class="s_c" >
                <input  class="ad_form_input"  type="text" >
            </div>
        </div>
        <div class="content flex_b" >
            <div class="f_c" >
                <h2>Привита</h2>
            </div>

            <div class="s_c" >
                <input  class="ad_form_input"  type="text" >
            </div>
        </div>
        <div class="content flex_b" >
            <div class="f_c" >
                <h2>Приучина к лотку</h2>
            </div>

            <div class="s_c" >
                <input  class="ad_form_input"  type="text" >
            </div>
        </div>
        <div class="content flex_b" >
            <div class="f_c" >
                <h2>Стирилизована</h2>
            </div>
            <div class="s_c" >
                <input  class="ad_form_input"  type="text" >
            </div>
        </div>
        <h2 class="title">Фото</h2>
        <label class="label_file content">
            <input style="display:none" type="file" >
        </label>
    </div>
</div>
