.container{
    display: grid;
    justify-content: center;
}
.list{
    width: 1088px;
    display: grid;
}
.block{
    height: 225px;
    margin: 10px 15px;
    position: relative;
    border-radius: 10px;
    transition: .3s;
    box-shadow: 0 0 10px 0px #00000014;
    overflow: hidden;
}
.blockFlex{
    display:flex;
}
.imgBlock{
    width: 325px;
    height: 225px;
    border-right: 4px solid #757de8;
    transition: .2s;
}
.articleBlock{
    font-size: 28px;
    margin-bottom: 7px;
}
.textBlockContainer{
    padding: 10px 0px 10px 20px;
    width: 620px;
}
.favorite{
    font-size: 35px;
    color: #3f51b5;
    transition:.1s;
}
.favorite:hover{
    cursor: pointer;
}
.favoriteBlockContainer{
    align-self: center;
    padding: 31px;
}
.far{
    color: black;
}
.block:hover{
    border-radius: 25px;
    background: #F0F0F0;
    cursor: pointer;
}
.block:hover .imgBlock{
    border-right: 4px solid black;
}