<div class="list"> 
        <div class="block rippleFavoriteEffect" >
            <div class="blockFlex" >
                <div class="imgBlock" >
                </div>
                <div class="textBlockContainer" >
                    <div class="articleBlockContainer" >
                        <h2 class="articleBlock" >Name</h2>
                        <h3 style="font-size:17px;" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos corporis quasi ex nostrum aut totam porro nesciunt, iusto molestiae sit repellendus atque suscipit optio obcaecati consectetur! Tenetur molestiae ipsa doloribus! Veniam natus debitis ex vitae nostrum facere magni repellat id dignissimos officia temporibus vero ipsum labore, illo cumque voluptatibus tenetur voluptatem illum tempore doloremque. Rerum hic quia deleniti nisi magni dicta tempore nobis in? Inventore qui unde eum?</h3>
                    </div>
                </div>
                <div class="favoriteBlockContainer" >
                    <i  class="fas fa-bookmark favorite"></i>
                </div>
            </div>
        </div>
        <div class="block rippleFavoriteEffect" >
            <div class="blockFlex" >
                <div class="imgBlock" >
                </div>
                <div class="textBlockContainer" >
                    <div class="articleBlockContainer" >
                        <h2 class="articleBlock" >Name</h2>
                        <h3 style="font-size:17px;" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente impedit ipsa quas repudiandae reprehenderit qui animi quam corrupti mollitia non delectus a, fuga illo numquam? Reprehenderit, consectetur ipsa excepturi animi saepe inventore perspiciatis omnis nemo enim recusandae sit iste. Nobis quia similique officia doloremque incidunt, unde accusantium atque et numquam praesentium fugit! Cupiditate nam reprehenderit, officiis repudiandae architecto totam fugiat possimus impedit, maiores ullam numquam deserunt ut cumque commodi officia!</h3>
                    </div>
                </div>
                <div class="favoriteBlockContainer" >
                    <i  class="fas fa-bookmark favorite"></i>
                </div>
            </div>
        </div>
        <div class="block rippleFavoriteEffect" >
            <div class="blockFlex" >
                <div class="imgBlock" >
                </div>
                <div class="textBlockContainer" >
                    <div class="articleBlockContainer" >
                        <h2 class="articleBlock" >Name</h2>
                        <h3 style="font-size:17px;" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, optio hic. Dolores cupiditate harum minima molestiae. Culpa ipsam rem aliquam, quia beatae quibusdam harum placeat obcaecati, doloribus aperiam odio excepturi optio ipsum voluptatum, porro magni. Quibusdam rem nam omnis rerum ab dolores et illo necessitatibus optio mollitia! Iure ipsa qui fuga accusamus placeat tempore illum rem recusandae, animi sint nostrum inventore excepturi veritatis accusantium similique ullam error!</h3>
                    </div>
                </div>
                <div class="favoriteBlockContainer" >
                    <i class="fas fa-bookmark favorite"></i>
                </div>
            </div>
        </div>
        <div class="block rippleFavoriteEffect" >
            <div class="blockFlex" >
                <div class="imgBlock" >
                </div>
                <div class="textBlockContainer" >
                    <div class="articleBlockContainer" >
                        <h2 class="articleBlock" >Name</h2>
                        <h3 style="font-size:17px;" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, optio hic. Dolores cupiditate harum minima molestiae. Culpa ipsam rem aliquam, quia beatae quibusdam harum placeat obcaecati, doloribus aperiam odio excepturi optio ipsum voluptatum, porro magni. Quibusdam rem nam omnis rerum ab dolores et illo necessitatibus optio mollitia! Iure ipsa qui fuga accusamus placeat tempore illum rem recusandae, animi sint nostrum inventore excepturi veritatis accusantium similique ullam error!</h3>
                    </div>
                </div>
                <div class="favoriteBlockContainer" >
                    <i  class="fas fa-bookmark favorite"></i>
                </div>
            </div>
        </div>
        <div class="block rippleFavoriteEffect" >
            <div class="blockFlex" >
                <div class="imgBlock" >
                </div>
                <div class="textBlockContainer" >
                    <div class="articleBlockContainer" >
                        <h2 class="articleBlock" >Name</h2>
                        <h3 style="font-size:17px;" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, optio hic. Dolores cupiditate harum minima molestiae. Culpa ipsam rem aliquam, quia beatae quibusdam harum placeat obcaecati, doloribus aperiam odio excepturi optio ipsum voluptatum, porro magni. Quibusdam rem nam omnis rerum ab dolores et illo necessitatibus optio mollitia! Iure ipsa qui fuga accusamus placeat tempore illum rem recusandae, animi sint nostrum inventore excepturi veritatis accusantium similique ullam error!</h3>
                    </div>
                </div>
                <div class="favoriteBlockContainer" >
                    <i class="fas fa-bookmark favorite"></i>
                </div>
            </div>
        </div>
    </div>
