<div class="container">
    <div style="height: 60px;" ></div>
    <div class="list"> 
        <div class="block rippleFavoriteEffect" >
            <div class="blockFlex" >
                <div class="imgBlock" >
                </div>
                <div class="textBlockContainer" >
                    <div class="articleBlockContainer" >
                        <h2 class="articleBlock" >Name</h2>
                        <h3 style="font-size:17px;" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, optio hic. Dolores cupiditate harum minima molestiae. Culpa ipsam rem aliquam, quia beatae quibusdam harum placeat obcaecati, doloribus aperiam odio excepturi optio ipsum voluptatum, porro magni. Quibusdam rem nam omnis rerum ab dolores et illo necessitatibus optio mollitia! Iure ipsa qui fuga accusamus placeat tempore illum rem recusandae, animi sint nostrum inventore excepturi veritatis accusantium similique ullam error!</h3>
                    </div>
                </div>
                <div class="favoriteBlockContainer" >
                    <i  class="fas fa-bookmark favorite"></i>
                </div>
            </div>
        </div>
        <div class="block rippleFavoriteEffect" >
            <div class="blockFlex" >
                <div class="imgBlock" >
                </div>
                <div class="textBlockContainer" >
                    <div class="articleBlockContainer" >
                        <h2 class="articleBlock" >Name</h2>
                        <h3 style="font-size:17px;" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, optio hic. Dolores cupiditate harum minima molestiae. Culpa ipsam rem aliquam, quia beatae quibusdam harum placeat obcaecati, doloribus aperiam odio excepturi optio ipsum voluptatum, porro magni. Quibusdam rem nam omnis rerum ab dolores et illo necessitatibus optio mollitia! Iure ipsa qui fuga accusamus placeat tempore illum rem recusandae, animi sint nostrum inventore excepturi veritatis accusantium similique ullam error!</h3>
                    </div>
                </div>
                <div class="favoriteBlockContainer" >
                    <i  class="fas fa-bookmark favorite"></i>
                </div>
            </div>
        </div>
        <div class="block rippleFavoriteEffect" >
            <div class="blockFlex" >
                <div class="imgBlock" >
                </div>
                <div class="textBlockContainer" >
                    <div class="articleBlockContainer" >
                        <h2 class="articleBlock" >Name</h2>
                        <h3 style="font-size:17px;" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, optio hic. Dolores cupiditate harum minima molestiae. Culpa ipsam rem aliquam, quia beatae quibusdam harum placeat obcaecati, doloribus aperiam odio excepturi optio ipsum voluptatum, porro magni. Quibusdam rem nam omnis rerum ab dolores et illo necessitatibus optio mollitia! Iure ipsa qui fuga accusamus placeat tempore illum rem recusandae, animi sint nostrum inventore excepturi veritatis accusantium similique ullam error!</h3>
                    </div>
                </div>
                <div class="favoriteBlockContainer" >
                    <i class="fas fa-bookmark favorite"></i>
                </div>
            </div>
        </div>
        <div class="block rippleFavoriteEffect" >
            <div class="blockFlex" >
                <div class="imgBlock" >
                </div>
                <div class="textBlockContainer" >
                    <div class="articleBlockContainer" >
                        <h2 class="articleBlock" >Name</h2>
                        <h3 style="font-size:17px;" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, optio hic. Dolores cupiditate harum minima molestiae. Culpa ipsam rem aliquam, quia beatae quibusdam harum placeat obcaecati, doloribus aperiam odio excepturi optio ipsum voluptatum, porro magni. Quibusdam rem nam omnis rerum ab dolores et illo necessitatibus optio mollitia! Iure ipsa qui fuga accusamus placeat tempore illum rem recusandae, animi sint nostrum inventore excepturi veritatis accusantium similique ullam error!</h3>
                    </div>
                </div>
                <div class="favoriteBlockContainer" >
                    <i  class="fas fa-bookmark favorite"></i>
                </div>
            </div>
        </div>
        <div class="block rippleFavoriteEffect" >
            <div class="blockFlex" >
                <div class="imgBlock" >
                </div>
                <div class="textBlockContainer" >
                    <div class="articleBlockContainer" >
                        <h2 class="articleBlock" >Name</h2>
                        <h3 style="font-size:17px;" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, optio hic. Dolores cupiditate harum minima molestiae. Culpa ipsam rem aliquam, quia beatae quibusdam harum placeat obcaecati, doloribus aperiam odio excepturi optio ipsum voluptatum, porro magni. Quibusdam rem nam omnis rerum ab dolores et illo necessitatibus optio mollitia! Iure ipsa qui fuga accusamus placeat tempore illum rem recusandae, animi sint nostrum inventore excepturi veritatis accusantium similique ullam error!</h3>
                    </div>
                </div>
                <div class="favoriteBlockContainer" >
                    <i class="fas fa-bookmark favorite"></i>
                </div>
            </div>
        </div>
    </div>
</div>
