<div style="width: 900px" >
    <div class="f_block" >
        <div class="img_b" >
        </div>
        <div >
            <div class="simple_btn ar_btn" >
                <h2>Name</h2>
            </div>  
                <p class="description" >
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi, rem ratione voluptatum, amet nobis molestiae beatae veritatis ut iusto quas, hic facere nostrum esse eos distinctio illum asperiores aperiam ab?
                </p>
        </div>
    </div>
    <div class="f_block" >
        <div class="img_b" >
        </div>
        <div >
            <div class="simple_btn ar_btn" >
                <h2>Name</h2>
            </div>  
                <p class="description" >
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi, rem ratione voluptatum, amet nobis molestiae beatae veritatis ut iusto quas, hic facere nostrum esse eos distinctio illum asperiores aperiam ab?
                </p>
        </div>
    </div>
    <div class="f_block" >
        <div class="img_b" >
        </div>
        <div >
            <div class="simple_btn ar_btn" >
                <h2>Name</h2>
            </div>  
                <p class="description" >
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi, rem ratione voluptatum, amet nobis molestiae beatae veritatis ut iusto quas, hic facere nostrum esse eos distinctio illum asperiores aperiam ab?
                </p>
        </div>
    </div>
</div>