.container{
    display: flex;
    margin-top: 25px;
}
.sellerBox{
    display: flex;
}

.imgBox{
    height: 60px;
    background: var(--input_background);
    border-radius: 50%;
}
.imgContainer{
    width: 60px;
    height: 60px;
}
.sellerName{
    font-size: 27px;
}
.textContainer{ 
    padding: 12px;
    width: 220px;
}
.buyContainer{
    margin-top: 20px;
}
.buyBtn{
    padding: 15px;
    background: var(--button_background);
    border-radius: 10px;
    color: var(--button_color);
    text-align: center;
    font-size: 20px;
    transition: 0.2s ease-out;
    cursor: pointer;
    
}
.buyBtn:hover{
    background: var(--button_background_hover);
}
.price{
    border-radius: 10px;
    color: var(--text_color);
    font-size: 20px;
    justify-content: center;
    display: grid;
}
.priceBadge{
    padding: 15px;
    border: 3px solid var(--input_background);
    border-radius: 20px;
}
.catName{
    font-size: 40px;
    padding-left: 15px;
    color: var(--text_color);
}
.favorite{
font-size: 32px;
padding-top: 4px;
}
.topBarArea{
    display: flex;
    margin-bottom: 20px;
}
.catNameContainer{
    align-self: center;
}
.img{
    height: 650px;
}
.imgBlockFlex{
    width: 75px;
    height: 60px;
    margin: 7px 5px 7px 0px;
    transition: .2s;
}
.imgBlockFlex:hover{
    cursor: pointer;
    border: 2px solid var(--button_background) !important;
}
.imgFlexRow{
    display: flex;
    flex-wrap: wrap;
}
.imgFlexRow > .content{
    border: 2px solid var(--content_border_color);
}
.fas.fa-arrow-left{
    font-size: 27px;
    padding: 4px;
    color: var(--text_color);
    transition: .1s cubic-bezier(0.55, 0.09, 0.68, 0.5);
}
.fas.fa-arrow-left:hover{
    color: var(--button_background);
    transform: translate(-10px, 0px)
}
.c_b {
    padding: 20px;
    margin-bottom: 20px;
}
.desc_b{
    padding: 10px 5px;
    width: 315px;
}