.container{
    display: flex;
    margin-top: 25px;
}
.sellerBox{
    display: flex;
}

.imgBox{
    height: 60px;
    background: var(--input_background);
    border-radius: 50%;
}
.imgContainer{
    width: 60px;
    height: 60px;
}
.sellerName{
    font-size: 27px;
}
.textContainer{ 
    padding: 12px;
    width: 220px;
}
.buyContainer{
    margin-top: 20px;
}
.buyBtn{
    padding: 15px;
    background: var(--button_background);
    border-radius: 10px;
    color: var(--button_color);
    text-align: center;
    font-size: 20px;
    transition: 0.2s ease-out;
    cursor: pointer;
    
}
.buyBtn:hover{
    filter: brightness(0.9);
}
.price{
    border-radius: 10px;
    color: var(--text_color);
    font-size: 20px;
    justify-content: center;
    display: grid;
}
.priceBadge{
    padding: 15px;
    border: 3px solid var(--input_background);
    border-radius: 20px;
}
.catName{
    font-size: 40px;
    padding-left: 15px;
    color: var(--text_color);
}
.favorite{
font-size: 32px;
padding-top: 4px;
}
.topBarArea{
    display: flex;
    margin-bottom: 20px;
}
.catNameContainer{
    align-self: center;
}
.img{
    height: 650px;
}
.imgBlockFlex{
    width: 75px;
    height: 60px;
    margin: 7px 5px 7px 0px;
    transition: .2s;
    overflow: hidden;
    display: grid;
    align-content: center;
}
.imgBlockFlex > img {
    width: 75px;
}
.imgBlockFlex:hover{
    cursor: pointer;
    border: 2px solid var(--button_background) !important;
}
.imgFlexRow{
    display: flex;
    flex-wrap: wrap;
}
.imgFlexRow > .content{
    border: 2px solid var(--content_border_color);
}
.fas.fa-arrow-left{
    font-size: 27px;
    padding: 4px;
    color: var(--text_color);
    transition: .1s cubic-bezier(0.55, 0.09, 0.68, 0.5);
}
.fas.fa-arrow-left:hover{
    color: var(--button_background);
    transform: translate(-10px, 0px)
}
.c_b {
    padding: 20px;
    margin-bottom: 20px;
    display: grid;
    justify-content: center;
}
.desc_b{
    padding: 10px 5px;
    margin-bottom: 15px;
    text-align: center;
    display: grid;
}
#imgBox{
    display: grid;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 600px;
}
.imgBlur {
    position: absolute;
    width: 600px;
    filter: blur(15px);
}
.back {
    width: 100%;
    height: 1080px;
    overflow: hidden;
    position: fixed;
    display: grid;
    justify-content: center;
    align-content: center;
    z-index: 99;
}
.buyClose {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    background: #0000008c;
}
.buyBlock {
    z-index: 999;
    padding: 15px;
}
.contactBox {
    border: 3px solid var(--background);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background: var(--content_background);
    z-index: 0;
    width: calc(100% - 140px);
    transition: .2s;
}
.copyBox {
    background: var(--input_background);
    margin-left: -8px;
    width: 140px;
    display: flex;
    border-radius: 0px 10px 10px 0px;
    transition: .2s;
    align-items: center;
    justify-content: center;
}
.copyBox > h2{
    font-family: "Open Sans";
}
.contactContainer{
    display: flex;
    margin: 10px 0px;
    cursor: pointer;
}
.copyBox.copied {
    background: var(--button_background) !important;
}
.contactBox.copied{
    border: 3px solid var(--button_background);
}
.copyBox > svg {
    position: absolute;
    visibility: hidden;
    fill: var(--text_color)
}
.copyBox.copied > svg{
    z-index: 9999;
    visibility: visible ;
}
.copyBox > span{
    opacity: 1;
    transition: .2s
}
.copyBox.copied > span{
    opacity: 0;
}