<div class="container" >
    <div class="item" >
        <div class="topBarArea" >
            <a style="align-self: center;" routerLink="/" >
                <i class="fas fa-arrow-left"></i>
            </a>
            <div class="catNameContainer" >
                <h2 class="catName" >Name</h2>
            </div>
        </div>
        <div class="content" >
            <div class="img" >
            </div>


        </div>
        <div class="imgFlexRow" >
            <div class="content imgBlockFlex" >
            </div>
            <div class="content imgBlockFlex" >
            </div>
            <div class="content imgBlockFlex" >
            </div>
        </div>
        <div class="content c_b" >
            <h2 style="font-size: 35px;
            text-align: center;" >Информация</h2>
            <div style="margin: 10px 20px 20px 20px;" class="hr" ></div>
            <div style="display:flex" >
                <div style="width: 347px;text-align:center" >
                    <div class="content desc_b" >
                        <p style="    padding: 10px 0px;
                        width: 315px;
                        font-size: 17px;">
                            Оренбург, микрорайон Северный, микрорайон 70-летия ВЛКСМ, 5
                        </p>
                    </div>
                    <h2 style="font-size: 28px;
                    margin: 10px 0px 18px 0px;">Описание</h2>
                    <div class="content desc_b">
                        <p style="font-size: 22px;
                        font-family: 'Roboto';">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi illo commodi dicta quod, molestias soluta expedita assumenda consectetur corrupti voluptatibus ea pariatur suscipit, delectus nisi?</p>
                    </div>
                </div>
                <div>
                    <div class="content flex_b" >
                        <div class="f_c" >
                            <h2>Возраст</h2>
                        </div>

                        <div class="s_c" >
                            <h2>2 года</h2>
                        </div>
                    </div>
                    <div class="content flex_b" >
                        <div class="f_c" >
                            <h2>Пол</h2>
                        </div>

                        <div class="s_c" >
                            <h2>девочка</h2>
                        </div>
                    </div>
                    <div class="content flex_b" >
                        <div class="f_c" >
                            <h2>Порода</h2>
                        </div>

                        <div class="s_c" >
                            <h2>сиамская</h2>
                        </div>
                    </div>
                    <div class="content flex_b" >
                        <div class="f_c" >
                            <h2>Вет. паспорт</h2>
                        </div>

                        <div class="s_c" >
                            <h2>есть</h2>
                        </div>
                    </div>
                    <div class="content flex_b" >
                        <div class="f_c" >
                            <h2>Привита</h2>
                        </div>

                        <div class="s_c" >
                            <h2>да</h2>
                        </div>
                    </div>
                    <div class="content flex_b" >
                        <div class="f_c" >
                            <h2>Приучина к лотку</h2>
                        </div>

                        <div class="s_c" >
                            <h2>да</h2>
                        </div>
                    </div>
                    <div class="content flex_b" >
                        <div class="f_c" >
                            <h2>Стирилизована</h2>
                        </div>
                        <div class="s_c" >
                            <h2>да</h2>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
<div>
<div style="padding: 25px;" class="scroll_box bl_frame">
    <div class="flex_item_cn" >
        <div class="textContainer" >
            <h2 class="sellerName" >Name</h2>
        </div>
        <div class="imgContainer" >
            <div class="imgBox" >
            </div>
        </div>
    </div>
    <div class="buyContainer" >  
        <div class="buyBtn r_btn" >
            <h2>Купить</h2>
        </div>
    </div>
    <div class="buyContainer">
        <div class="contact" >
            <i  class="fas fa-phone"></i>
            <h2>+79877867990</h2>
        </div>
        <div class="contact" >
            <i  class="fas fa-envelope"></i>
            <h2>mail@xmail.com</h2>
        </div>
        </div>
        <div class="buyContainer" >  
            <div class="price" >
                <div class="priceBadge" >
                    <h2>2000руб</h2>
                </div>
            </div>
        </div>
        
    </div>
</div>

</div>
