a{
    text-decoration:none;
    color: black;
  }
  .activePage{
    background: #3f51b538;
    color: #3f51b5;
    fill:#3f51b5 ;
  }
  .topBarContainer {
      background: #fafafa;
      height: 60px;
      position: fixed;
      width: 100%;
      z-index: 9999;
      border-bottom: 2px solid #d2d2d2;
      box-shadow: 0 4px 10px 0px #0000001a;
    }
    .menuContainer {
        width: 60px;
        height: 61px;
    }
    .chtMenu {
      width: 25px;
      height: 5px;
      background: black;
      border-radius: 15px;
      margin-bottom: 3px;
      transition: .2s;
    }
    .topBar {
      display: flex;
    }
    .menu {
      padding: 18px;
    }
    .menu:hover {
      cursor: pointer;
    }
    .label {
      font-size: 26px;
      padding: 14px;
      color: black;
      font-weight: lighter;
    }
    .labelContainer {
      margin-left: 35px;
    }
    .search {
      width: 700px;
      height: 35px;
      border-radius: 5px;
      border: none;
      background: none;
      font-size: 22px;
    }
    .search:focus {
      outline: none;
    }
    .searchContainer {
      background: #f0f0f0;
      border-radius: 5px;
      padding: 0px 15px;
      margin: 12px;
      opacity: 0;
      transition: .1s ;
      visibility: hidden;
    }
    .navMenu {
      width: 320px;
      height: 1080px;
      background: white;
      border-right: 2px solid #d2d2d2;
      box-shadow: -5px 0px 20px 0px #00000054;
      padding-top: 60px;
      visibility: hidden;
      transition: 0.3s;
      margin-left: -320px;
      position: fixed;
      z-index: 9999;
    }
    .filterMenu{
      width: 320px;
      height: 1080px;
      background: white;
      border-right: 2px solid #d2d2d2;
      box-shadow: 5px 0px 20px 0px #00000054;
      padding-top: 60px;
      visibility: hidden;
      transition: 0.3s;
      margin-left: 320px;
      position: fixed;
    }
    .filterMain{
      padding: 15px 17px;
      text-align: center;
    }
    .filter{
      background: #a379e6;
      padding: 10px !important;
      border-radius: 5px;
      font-size: 30px;
    }
    .show {
      margin-left: 0px;
      visibility: visible;
    }
    .showFilter{
      visibility: visible;
      opacity: 1;
      margin: 0px;
    }
    .navBtn {
      height: 48px;
    }
    .btn {
      border-radius: 5px;
      margin: 2px 7px;
      height: 44px;
      overflow: hidden;
      position: relative;
      transition: .1s ease-out;
      display: flex;
    }
    img.iconPng {
      padding: 7px 0px;
      margin-left: 15px;
      height: 30px;
    }
    i.fas {
      padding: 10px 0px;
      font-size: 22px;
      margin-left: 15px;
  }
    .icon {
        width: 40px;
        height: 44px;
    }
    .ripplrEffect:hover {
      background: #f0f0f0;
      cursor: pointer;
    }
    .ripplrEffect:active {
      background: #ebebeb;
      transition-delay: .3s;
    }
    .textSectionBtn {
      padding: 10px;
      margin-left: 15px;
    }
    .textBtn {
      font-size: 20px;
      margin-left: 10px;
    }
    .btnActive {
      color: #582bc4;
      background: #8559da47;
    }
  
    .navMain{
        position: relative;
        padding: 21px 17px;
    }
    .name{
        margin-left: 10px;
        margin-bottom: 2px;
        font-size: 28px;
        transition: .1s linear;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .mail{
    margin-left: 10px;
    font-size: 16px;
    color: #737373;
    font-family: 'Comfortaa';
    }
    .navMainContainer {
      display: flex;
      padding: 15px 10px;
    }
    .hr{
        width: 100%;
        height: 2px;
        background: #d2d2d2;
        margin: 0px 0px 15px 0px;
    }
    .Hr{
        margin: 15px 0px 15px 0px;
    }
    .navMailContainer{
        margin-top: 11px;
    }
    .Close{
        position: absolute;
        transform: rotate(45deg);
        top: 27px;
    }
    .close{
        position: absolute;
        transform: rotate(-45deg);
        top: 27px;
    }
    .Icon {
      margin: 8px !important;
      font-size: 24px !important;
      width: auto !important;
      height: auto !important;
      padding: 10px !important;
    }
    .Icon:hover{
      cursor: pointer;
    }
    .iconContainer{
      display:flex;
    }
    .iconBox{
      border-radius: 50%;
    }
    .Show {
      opacity: 1;
      visibility: visible;
    }
    .btnRegister {
      padding: 10px;
      background: #3f51b5;
      color: white;
      border-radius: 5px;
      border: 3px solid #3f51b5;
      transition: .3s;
      cursor: pointer;
  }
  .btnRegister h2 {
    font-size: 24px;
  }
  .btnLogin {
    color: #3f51b5;
    background: none;
    border: 3px solid #757de8;
  }
  .btnLogin:hover {
    background: #757de8 !important;
    color: white !important;
    border: 3px solid #757de8 !important;
  }
  .btnRegister:hover {
    color: black;
    background: none;
    border: 3px solid #414141;
  }
 