<div class="frame" >
    <div class="content" >
        <div class="bl_ct" style="height: 600px;" >
            <div style="width: 350px;text-align: center;height: 100px;margin-top: 180px; " >
                <h2 style="
                font-size: 60px;
                font-family: 'Roboto';
                text-transform: uppercase;"
                 >Cats-Page</h2>
                <p>Тут вы можете купить котика по обьявлению либо создать обьялению по продаже своего.</p>
            </div>
        </div>
        <div class="hr" ></div>
        <div class="bl_ct" style="align-items:center; justify-content:space-between;padding: 25px;" >
                <h2 style="
                font-size: 27px;
                font-style: italic;
                FONT-WEIGHT: lighter;">Я написал этот сайт :)</h2>
                <div class="fr_box content">            
            </div>
        </div>

    </div>
    <h2 class="b_name" >История</h2>
    <div class="flex_box" >
        <app-buy-block></app-buy-block>
        <app-buy-block></app-buy-block>
        <app-buy-block></app-buy-block>
        <app-buy-block></app-buy-block>
        <app-buy-block></app-buy-block>
        <app-buy-block></app-buy-block>
    </div>
    <h2 style="margin: 0px 0px  13.5px 13.5px ;" class="b_name" >Все обьявления </h2>
    <div class="flex_wrap_box" >
        <app-buy-block></app-buy-block>
        <app-buy-block></app-buy-block>
        <app-buy-block></app-buy-block>
        <app-buy-block></app-buy-block>
        <app-buy-block></app-buy-block>
        <app-buy-block></app-buy-block>
    </div>
    <a routerLink="/buy">
        <div class="simple_btn" >
            <h2>Просмотреть все</h2>
        </div>
    </a>
</div>

