.frame{
    width: 1088px;
    margin: 20px 0px 20px 0px;
}
.bl_ct {
    display: flex;
    justify-content: center;
}
.fr_box {
    width: 600px;
    height: 60px;
    padding: 10px;
}
.flex_box{
    display: flex;
    overflow: hidden;
}
.b_name{
    font-size: 30px;
    font-family: 'Montserrat';
    margin: 13.5px 0px 0px 13.5px;
}
.flex_wrap_box {
    display: flex;
    flex-flow: wrap;
}