@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Open+Sans&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

a{
  text-decoration: none;
}
::-webkit-scrollbar {
  background: none;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #d2d2d2;
  border-radius: 15px;
}
::selection{
  background: #5863F8;
}
body{
  background: var(--background);
}
main{
  position: relative;
}
app-home, app-buy, app-favorite, app-auth,app-reg, app-form, app-settings, app-user{
  display: grid;
  justify-content: center;
  z-index: 999;
}
::-webkit-scrollbar:horizontal{
  height: 0px;
} 
form{
  padding: 25px;
}
.s_c {
  width: 170px;
  text-align: center;
  border-left: 3px solid #1e90ff;
}
.f_c {
  width: 250px;
  align-self: center;
}
.flex_b {
  display: flex;
  margin: 0px 0px 10px 0px;;
}
.s_c , .f_c {
  padding: 8px;
}
.formContainer{
  width: 600px;
  margin-top: 20px;
}
.regBox{
  margin: 10px 0px;
}
.title{
  font-size:28px;
}
.regPut{
  width: 520px;
  height: 37px;
  border: 2px solid var(--input_background);
  border-radius: 5px;
  margin-top: 10px;
  font-size: 22px;
  padding: 0px 15px;
  transition: .2s;
  background: var(--input_background);
  color: var(--text_color);
}
.regPut:hover{
  border: 2px solid var(--input_background);
  background: none;
}
.regPut:focus{
  background: none;
  outline: none;
}
h2.login {
  margin-top: 5px;
  font-size: 20px;
  color: var(--text_color);
  display: inline;
  border-bottom: 2px solid var(--input_background);
  transition: .3s;
} 
h2.login:hover {
  background: var(--input_background);
}
.buttonMit {
  padding: 15px 25px;
  font-size: 20px;
  background: var(--button_background);
  border: none;
  border-radius: 10px;
  color: var(--button_color);
  transition: .2s;
  overflow: hidden;
  position: relative;
}
.buttonMit:hover {
  cursor: pointer;
  background: var(--button_background_hover);
}
.buttonMit:focus {
  outline: none;
}
.buttonBox{
  text-align: center;
}
.buttonMit:disabled {
  background: var(--button_disabled_background);
}
.buttonMit:disabled:hover {
  background: var(--button_disabled_background);
  cursor: not-allowed;
}
.bl_frame{
  border: 2px solid var(--content_border_color);
  border-radius: 10px;
  background:var(--content_background);
} 
.btns_b > .simple_btn{
  margin: 10px 0px;
  background: var(--button_background2);
  color: var(--button_color2);
  box-shadow: none;
  }
  .btns_b >  .simple_btn:hover {
    cursor: pointer;
    background: var(--button_background2_hover);
    transform: none;
}
.ar_btn > h2 {
  font-size: 30px;
}
.search_interaction:focus {
  outline: none;
  border: 2px solid var(--button_background) !important;
  box-shadow: 0px 0px 20px 0px var(--search_shadow);
}
.simple_btn {
  border-radius: 10px;
  background: var(--button_background);
  transition: 0.2s;
  color: var(--button_color);
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
.simple_btn:hover{
  background:var(--button_background_hover);

}  
.content{
  border-radius: 10px;
  border: 5px solid var(--content_border_color);
  background: var(--content_background);
  color: var(--text_color);
}
.flex_item_cn{
  display: inline-flex;
}
.grid_item_cn{
  display: inline-grid;
}
.img_b{
  height: 300px;
  width: 325px;
  overflow: hidden;
}
.f_block > .img_b{
  height: 225px;
}
.scroll_box {
  z-index: 99;
  position: fixed;
  margin-left: 20px;
  color: var(--text_color);
}
.contact {
  display: flex;
  padding: 5px 0px;
  border-bottom: 3px solid var(--input_background);
}
i {
  font-size: 22px;
  padding: 5px;
}
.contact > h2 {
  margin-left: 35px;
}
.frame{
  width: 1088px;
  margin: 20px 0px 20px 0px;
}
.f_block {
  border-radius: 10px;
  border: 5px solid var(--content_border_color);
  background: var(--content_background);
  height: 225px;
  display: flex;
  margin: 20px 0px;
  transition: .2s ease-out;
  color: var(--text_color);
}
.description{
  padding: 10px;
  width: 540px;
  font-size: 18px;
  overflow: scroll;
}
.ar_btn {
  padding: 7px;
  background: none !important;
  display: inline-flex !important;
  width: auto !important;
}
.second_btn{
  width: 100px;
  border-radius: 10px;
  background: var(--input_background);
  display: flex;
  transition: 0.2s linear;
  justify-content: center;
  align-self: center;
  border: 2px solid var(--input_background);
}
.disable {
  background: none !important;
  color: var(--text_color) !important;
}
.hr{
  height: 3px;
  background: var(--input_background);
}
.ripple{
  z-index: 0;
  opacity: 0;
  position: absolute;
  background: var(--ripple_background);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: 1250ms ripple ;
  transition: 1s linear;
}
.r_btn{
  position: relative;
  overflow: hidden;
}
  @keyframes ripple {
    0% {
      width: 0px;
      height: 0px;
      opacity: 1;
    }
    60% {
      width: 700px;
      height: 700px;
      opacity: 1;
    }
    80% {
      width: 700px;
      height: 700px;
      opacity: 1;
    }
    100%{
      width: 0px;
      height: 0px;
      opacity: 0;
    }
}
.alert {
  width: 1920px;
  margin-left: -15px;
  display: grid;
  justify-content: right;
  margin-top: 15px;
}
.alert_text{
  padding: 25px;
  font-size: 20px;
  background: var(--content_background);
  border-radius: 10px;
  border-right: 10px solid var(--button_background);
  box-shadow: 0 0 20px 0px #00000014;
  transition: .2s ease-out;
}
.alert_text:hover {
  border-right: 0px solid var(--content_border_color);
}
.alert_text .error_alert{
  border-right: 10px solid #ff652c;
}
#flashMessages {
  position: fixed;
  z-index: 9999;
}