<div class="navMenuContainer">
      <div class="navMenu">
        <div class="navMainContainer">
          <div class="navMain ripplrEffect">
            <h2 class="name">Name</h2>
            <span class="mail">example@xmail.com</span>
          </div>
        </div>
        <div class="hr"></div>
        <div class="navBtn">
          <a  routerLink="/main" >
          <div routerLinkActive="activePage" class="btn ripplrEffect">
            <div class="icon">
              <i class="fas fa-home"></i>
            </div>
            <div class="textSectionBtn">
              <h2 class="textBtn">Главная</h2>
            </div>
          </div>
        </a>
        </div>
        <div class="navBtn">
          <a  routerLink="/buy" >
          <div routerLinkActive="activePage" class="btn ripplrEffect">
            <div class="icon">
              <i class="fas fa-cash-register"></i>
            </div>
              <div class="textSectionBtn">
                <h2 class="textBtn">Покупка</h2>
              </div>
          </div>
        </a>
        </div>
        <div class="navBtn">
          <a   routerLink="/estrus" >
          <div routerLinkActive="activePage" class="btn ripplrEffect">
            <div class="icon">
              <i class="fas fa-paw"></i>
            </div>
            <div class="textSectionBtn">
              <h2 class="textBtn">Вязка</h2>
            </div>
          </div>
        </a>
        </div>
        <div class="hr Hr"></div>
        <div class="navBtn">
          <a  routerLink="/favorite" >
          <div routerLinkActive="activePage" routerLinkActive="activePage" class="btn ripplrEffect">
            <div class="icon">
              <i class="fas fa-bookmark"></i>
            </div>
              <div class="textSectionBtn">
                <h2 class="textBtn">Закладки</h2>
              </div>
            </div>
            </a>
        </div>
        <div class="hr Hr"></div>
        <div class="navBtn">
          <a  routerLink="/settings" >
          <div routerLinkActive="activePage" class="btn ripplrEffect">
            <div class="icon">
              <i class="fas fa-cog"></i>
            </div>
            <div class="textSectionBtn">
              <h2 class="textBtn">Настройки</h2>
            </div>
          </div>
        </a>
        </div>
      </div>
    </div>
    <div class="topBarContainer">
      <div class="topBar">
        <div class="menuContainer"  >
          <div class="menu" (click)="showMenu()">
            <div class="chtMenu"></div>
            <div class="chtMenu"></div>
            <div class="chtMenu"></div>
          </div>
        </div>
        <div class="labelContainer">
          <h2 class="label">Покупка котов и кошек</h2>
        </div>
      </div>
    </div>
    <div class="filterMenuContainer">
      <div class="filterMenu">
        <div class="navMainContainer">
          <div class="navMain filterMain" >
            <h2 class="filter">Фильтры</h2>
          </div>
        </div>
        <div class="hr"></div>
        <div class="navBtn">
          <div class="btn ripplrEffect">
            <div class="icon">
              <i class="fas fa-home"></i>
            </div>
              <div class="textSectionBtn">
                <h2 class="textBtn">Главная</h2>
              </div>
          </div>
        </div>
        <div class="navBtn">
          <div class="btn ripplrEffect">
            <div class="icon">
              <i class="fas fa-cash-register"></i>
            </div>
            <div class="textSectionBtn">
              <h2 class="textBtn">Покупка</h2>
            </div>
          </div>
        </div>
        <div class="navBtn">
          <div class="btn ripplrEffect">
            <div class="icon">
              <i class="fas fa-paw"></i>
            </div>
            <div class="textSectionBtn">
              <h2 class="textBtn">Течка</h2>
            </div>
          </div>
        </div>
        <div class="navBtn">
          <div class="btn ripplrEffect">
            <div class="icon"></div>
            <div class="textSectionBtn">
              <h2 class="textBtn">title</h2>
            </div>
          </div>
        </div>
        <div class="hr Hr"></div>
        <div class="navBtn">
          <div class="btn ripplrEffect">
            <div class="icon">
              <i class="fas fa-bookmark"></i>
            </div>
            <div class="textSectionBtn">
              <h2 class="textBtn">Закладки</h2>
            </div>
          </div>
        </div>
        <div class="navBtn">
          <div class="btn ripplrEffect">
            <div class="icon">
              <i class="fas fa-shopping-bag"></i>
            </div>
            <div class="textSectionBtn">
              <h2 class="textBtn">Корзин</h2>
            </div>
          </div>
        </div>
        <div class="hr Hr"></div>
        <div class="navBtn">
          <div class="btn ripplrEffect">
            <div class="icon">
              <i class="fas fa-cog"></i>
            </div>
            <div class="textSectionBtn">
              <h2 class="textBtn">Настройки</h2>
            </div>
          </div>
        </div>
      </div>
    </div>