<div style="height: 65px;" >
    <div [@warning] *ngIf="!auth" (click)='auth = true' class="content warning">
        <span>Сначала нужно авторизоваться</span>
    </div>
</div>
<div class="loginContainer formContainer content " >
    <form [formGroup]='form' (submit)="login()">
        <div class="regBox">
            <h2 class="title">Почта</h2>
            <input class="regPut" type="email" formControlName="email"> 
        </div>
        <div class="regBox" >
            <h2 class="title">Пароль</h2>
            <input class="regPut" type="password" formControlName="password" > 
        </div>
        <div style="margin: 5px 0px 10px 0px;" class="errorsBox" >
            <div class="errorBlock" >
                <h2 [@error] class="error" *ngIf="error">{{this.error}}</h2>
            </div>
        </div>
        <div class="buttonBox " >
            <button class="buttonMit r_btn" type="submit" [disabled]="form.invalid"><h2>Войти</h2></button>
            <p style="margin-top: 5px;">Нет аккаунта?</p>
            <a  routerLink="/owner/registration">
                <div>
                    <h2 class="login" >Зарегестрироваться</h2>
                </div>
            </a>
        </div>
    </form>
</div>
