<div class="container">
    <div style="height: 60px;" ></div>
    <div class="row" >
      <div class="block" >
        <div class="imgBlock" >
        </div>
        <div class="blockBottomBarContainer" >
          <div class="blockBottomBar" >
            <h2 class="catName">Name</h2>
            <div class="price" >
              <h2 class="priceText" >500</h2>
              <h2 class="priceTextValue" >руб</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="block" >
        <div class="imgBlock" >
        </div>
        <div class="blockBottomBarContainer" >
          <div class="blockBottomBar" >
            <h2 class="catName">Name</h2>
            <div class="price" >
              <h2 class="priceText" >500</h2>
              <h2 class="priceTextValue" >руб</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="block" >
        <div class="imgBlock" >
        </div>
        <div class="blockBottomBarContainer" >
          <div class="blockBottomBar" >
            <h2 class="catName">Name</h2>
            <div class="price" >
              <h2 class="priceText" >500</h2>
              <h2 class="priceTextValue" >руб</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="block" >
        <div class="imgBlock" >
        </div>
        <div class="blockBottomBarContainer" >
          <div class="blockBottomBar" >
            <h2 class="catName">Name</h2>
            <div class="price" >
              <h2 class="priceText" >500</h2>
              <h2 class="priceTextValue" >руб</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="block" >
        <div class="imgBlock" >
        </div>
        <div class="blockBottomBarContainer" >
          <div class="blockBottomBar" >
            <h2 class="catName">Name</h2>
            <div class="price" >
              <h2 class="priceText" >500</h2>
              <h2 class="priceTextValue" >руб</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="block" >
        <div class="imgBlock" >
        </div>
        <div class="blockBottomBarContainer" >
          <div class="blockBottomBar" >
            <h2 class="catName">Name</h2>
            <div class="price" >
              <h2 class="priceText" >500</h2>
              <h2 class="priceTextValue" >руб</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="block" >
        <div class="imgBlock" >
        </div>
        <div class="blockBottomBarContainer" >
          <div class="blockBottomBar" >
            <h2 class="catName">Name</h2>
            <div class="price" >
              <h2 class="priceText" >500</h2>
              <h2 class="priceTextValue" >руб</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="block" >
        <div class="imgBlock" >
        </div>
        <div class="blockBottomBarContainer" >
          <div class="blockBottomBar" >
            <h2 class="catName">Name</h2>
            <div class="price" >
              <h2 class="priceText" >500</h2>
              <h2 class="priceTextValue" >руб</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="block" >
        <div class="imgBlock" >
        </div>
        <div class="blockBottomBarContainer" >
          <div class="blockBottomBar" >
            <h2 class="catName">Name</h2>
            <div class="price" >
              <h2 class="priceText" >500</h2>
              <h2 class="priceTextValue" >руб</h2>
            </div>
          </div>
        </div>
      </div>
  </div>
