.container{
    justify-content: center;
    display: grid;
}
.row{
  width: 1088px;
  display: flex;
  flex-wrap: wrap;
}
.searchInput:focus {
  border: 2px solid #757de8;
  outline: none;
}
.searchInput{
  padding: 15px;
    width: 1024px;
    background: #f0f0f0;
    border: 2px solid #c3c3c3;
    border-radius: 5px;
    font-size: 20px;
    height: 20px;
    transition:.2s;
}
.search{
  padding: 10px 17px;
  display: flex;
}
input.searchInput:hover {
  border-radius: 10px;
}
.buyBlock{
  display: flex;
}
.filterBlock{
  width: 300px;
  background: #f0f0f0;
  border: 3px solid #e1e1e1;
  border-radius: 10px;
  margin: 13px 20px;
}
.filterFooterName{
  padding: 15px;
  color: white;
  background: #3f51b5;
  text-align: center;
  border-radius: 9px;
}
.filterBox{
padding-top: 10px;
}

.filterName{
  font-size: 25px;
}
.amountBox{
  padding: 10px 0px;
  display: flex;
}
input.amount {
  width: 62px;
  padding: 5px 10px;
  border: 2px solid #757de8;
  border-radius: 10px;
  font-size: 18px;
  height: 18px;
  margin: 0px 7px;
  transition:.2s;
}
input.amount:focus {
  border: 2px solid #3f51b5;
  border-radius: 15px;
  outline: none;
}
.amountContent {
  display: flex;
}
.filterSection {
  padding: 5px 15px;
  transition: 0.3s;
}
.filterSection:hover {
  background: white;
  border-radius: 10px;
}
.old{
  width: 50px !important;
}