<div class="search" >
  <input class="searchInput" type="text" placeholder="Поиск">
</div> 
<div class="buyBlock" >
  <div class="row" >
    <app-buy-block
      *ngFor="let CatBlock of buyCatsArray"
      [buyCatBlock]="CatBlock"
    ></app-buy-block>
    </div>
<div class="filterBlock" >
  <div class="filterFooterName" >
    <h2 style="font-size:30px" >Фильтры</h2>
  </div>
  <div class="filterBox" >
    <div class="filterSection" >
      <h2 class="filterName" >Цена</h2>
      <div class="amountBox" >
        <div class="amountContent" >
          <h2>от</h2>
          <input class="amount" type="text">
        </div>
        <div class="amountContent">
          <h2>до</h2>
          <input class="amount"type="text">
        </div>
        <div class="amountContent">
          <h2>₽</h2>
        </div>
      </div>
    </div>
    <div class="filterSection" >
      <h2 class="filterName" >Пол</h2>
      <div class="amountBox" >
        <div class="amountContent" >
          <input type="checkbox" >
          <h2>кот</h2>
        </div>
        <div class="amountContent">
          <input type="checkbox" >
          <h2>кошка</h2>
        </div>
      </div>
    </div>
    <div class="filterSection" >
      <h2 class="filterName" >Возраст</h2>
      <div class="amountBox" >
        <div class="amountContent" >
          <h2>от</h2>
          <input class="amount old " type="text">
        </div>
        <div class="amountContent">
          <h2>до</h2>
          <input class="amount old"type="text">
        </div>
        <div class="amountContent">
          <h2>лет</h2>
        </div>
      </div>
    </div>
    <div class="filterSection" >
      <h2 class="filterName" >Порода</h2>
      <div class="amountBox" >
        <div class="amountContent" >
          <input class="amount" type="text">
        </div>
      </div>
    </div>
    <div class="filterSection" >
      <h2 class="filterName" >Город</h2>
      <div class="amountBox" >
        <div class="amountContent" >
          <input class="amount" type="text">
        </div>
      </div>
    </div>
  </div>
</div>

</div>

