<div style="width: 900px" >
    <div *ngFor="let declaration of declarations"  >
        <a routerLink="/buy/{{declaration._id}}" >
        <div (click)='getUrl()' class="f_block" >
            <div class="img_b" >
                <img src="{{declaration.imgs[0]}}" >
            </div>
            <div style="padding: 0px 15px 5px 15px;width: 535px;" >
                <div class="second_btn ar_btn" >
                    <h2>{{declaration?.name}}</h2>
                </div>  
                    <p class="description" >
                        {{declaration?.description}}
                    </p>
                </div>
            </div>
        </a>
    </div>
</div>