@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* colors: */
.colors{
  /* primaryColor */
  background: #673ab7; 

  /* primaryLightColor */
  background: #9a67ea; 

  /* primaryDarkColor */
  background: #320b86;

  /* secondaryColor */
  background: #3f51b5;

  /* secondaryLightColor */
  background: #757de8;

  /* secondaryDarkColor */
  background: #002984;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

a{
  text-decoration: none;
}
::-webkit-scrollbar {
  background: none;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #d2d2d2;
  border-radius: 15px;
}
::selection{
  background: dodgerblue;
}
body{
  background: #f6f6f6;
}
main{
  position: relative;
}
app-personal-area-page, app-buy-cat-page, app-favorite-page, app-login-page,app-reg-page, app-buy-page{
  display: grid;
  justify-content: center;
  z-index: 999;
}
::-webkit-scrollbar:horizontal{
  height: 0px;
} 
form{
  padding: 25px;
}
.formContainer{
  width: 600px;
  margin-top: 20px;
}
.regBox{
  margin: 10px 0px;
}
.title{
  font-size:28px;
}
.regPut{
  width: 520px;
  height: 37px;
  border: 2px solid #d2d2d27a;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 22px;
  padding: 0px 15px;
  transition: .2s;
}
.regPut:hover{
  border: 2px solid #d2d2d2;
}
h2.login {
  margin-top: 5px;
  font-size: 20px;
  color: black;
  display: inline;
  border-bottom: 2px solid #d2d2d2;
  transition: .3s;
} 
h2.login:hover {
  background: #d2d2d2;
}
.buttonMit {
  padding: 15px 25px;
  font-size: 20px;
  background: dodgerblue;
  border: none;
  border-radius: 10px;
  color: white;
  transition: .2s;
  overflow: hidden;
  position: relative;
}
.buttonMit:hover {
  cursor: pointer;
  background: royalblue;
}
.buttonMit:focus {
  outline: none;
}
.buttonBox{
  text-align: center;
}
.buttonMit:disabled {
  background: #d2d2d2;
}
.buttonMit:disabled:hover {
  background: #d2d2d2;
  cursor: not-allowed;
}
.bl_frame{
  border: 2px solid white;
  border-radius: 5px;
  background:white;
} 
.btns_b > .simple_btn{
  margin: 10px 0px;
  background: whitesmoke;
  color: black;
  box-shadow: none;
  }
  .btns_b >  .simple_btn:hover {
    cursor: pointer;
    background: #8080802e;
    transform: none;
}
.ar_btn > h2 {
  font-size: 30px;
}
.search_interaction:focus {
  border: 2px solid dodgerblue !important ;
  outline: none;
  box-shadow: 0px 0px 20px 0px #1e90ff36;
  border-radius: 10px;
}
.simple_btn {
  border-radius: 10px;
  background: dodgerblue;
  transition: 0.2s;
  box-shadow: 0 3px 0px 0px royalblue;
  color: white;
  padding: 10px;
  text-align: center;
}
.simple_btn:hover{
  cursor: pointer;
  box-shadow: 0 0px 0px 0px royalblue;
  transform: translate(0px, 3px);
}  
.content{
  border-radius: 10px;
  border: 5px solid #ffffff;
  box-shadow: 0px 0px 20px 0px #0000000d;
  background: white;
}
.flex_item_cn{
  display: inline-flex;
}
.grid_item_cn{
  display: inline-grid;
}
.img_b{
  height: 300px;
  width: 325px;
  overflow: hidden;
}
.f_block > .img_b{
  height: 225px;
}
.scroll_box {
  z-index: 99;
  box-shadow: 0px 0px 20px 0px #0000000d;
  position: fixed;
  margin-left: 20px;
}
.contact {
  display: flex;
  padding: 5px 0px;
  border-bottom: 3px solid #d2d2d2;
}
i {
  font-size: 22px;
  padding: 5px;
}
.contact > h2 {
  margin-left: 35px;
}
.f_block {
  border-radius: 10px;
  border: 5px solid #ffffff;
  box-shadow: 0px 0px 20px 0px #0000000d;
  background: white;
  height: 225px;
  display: flex;
  margin: 20px 0px;
  transition: .2s ease-out;
}
.f_block:hover {
  box-shadow: 0px 0px 20px 0px #0000002e;
}
.description{
  padding: 10px;
  width: 540px;
  font-size: 18px;
  overflow: scroll;
}
.ar_btn {
  padding: 7px;
  background: none !important;
  display: inline-flex !important;
  width: auto !important;
}
.second_btn{
  width: 100px;
  border-radius: 7px;
  background: lavender;
  display: flex;
  transition: 0.2s linear;
  justify-content: center;
}
.disable {
  border: 3px solid dodgerblue;
  background: none !important;
  color: black !important;
}
.hr{
  height: 3px;
  background: #d3d3d3;
}
  @keyframes FavoriteRipple {
    0% {
      width: 0px;
      height: 0px;
      opacity: 0.5;
    }
    100% {
      width: 2000px;
      height: 2000px;
      opacity: 0;
    }
}
