@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* colors: */
.colors{
  /* primaryColor */
  background: #673ab7; 

  /* primaryLightColor */
  background: #9a67ea; 

  /* primaryDarkColor */
  background: #320b86;

  /* secondaryColor */
  background: #3f51b5;

  /* secondaryLightColor */
  background: #757de8;

  /* secondaryDarkColor */
  background: #002984;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
::-webkit-scrollbar {
  background: none;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #d2d2d2;
  border-radius: 15px;
}
::selection{
  background: #757de8;
}
@keyframes ripple {
    0% {
      width: 0px;
      height: 0px;
      opacity: 0.5;
    }
    100% {
      width: 1000px;
      height: 1000px;
      opacity: 0;
    }
}
.ripple {
    position: absolute;
    background: #c2c2c2;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: ripple 1s linear infinite;
  } 
  .rippleF {
    position: absolute;
    background: #c2c2c2bb;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: ripple 1s linear infinite;
  } 
  .FavoriteRipple{
    animation: FavoriteRipple 1s linear infinite !important;
    background: #3f51b5;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    position: absolute;
  }
  app-page{
    justify-content: center;
    display: grid;
  }
  app-buy-page {
    display: grid;
    justify-content: right;
    width: 1910px;
}
app-reg-page {
  display: grid;
  justify-content: center;
}
app-login-page {
  display: grid;
  justify-content: center;
}
app-breed-menu{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1910px;
  height: 1080px;
  position: absolute;
}
app-favorite-page {
  display: grid;
  justify-content: center;
}
main{
  position: relative;
}
::-webkit-scrollbar:horizontal{
  height: 0px;
} 
  @keyframes FavoriteRipple {
    0% {
      width: 0px;
      height: 0px;
      opacity: 0.5;
    }
    100% {
      width: 2000px;
      height: 2000px;
      opacity: 0;
    }
}
