<div class="card" >
    <div class="filters" >
        <div class="cardFooterBox" >
            <input class="searchBreed" type="text" placeholder="Поиск" >
            <div style="margin-left: 5px;" class="cardIconFilterBox" >
                <div class="cardIconFilter" >
                    <i (click)="showFilter = !showFilter"  style="font-size: 30px;" class="fas fa-bars"></i>
                </div>
            </div>
        </div>
        <div *ngIf="showFilter" class="cardFilter" >
            <div class="filterCard" >
                <h2>Выбрать все</h2>
            </div>
            <div class="filterCard" >
                <h2>Убрать выбор со всего</h2>
            </div>
        </div>
    </div>
<div style="margin-top: 100px;">
    <div  class="cardCell" >
        <h2 class="cardCellText" >Без породы</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Абиссинская</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Азиатская табби</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Американская короткошерстная</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Американский керл</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Аравийский мау</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Австралийский мист</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Американская жесткошерстная</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Американский бобтейл</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Анатолийская</h2>
    </div>

    <div class="cardCell" >
        <h2 class="cardCellText" >Балинезийская</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Бенгальская</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Бомбейская</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Британская</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Бурмилла</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Бирманская</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Бразильская</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Бурманская</h2>
    </div>

    <div class="cardCell" >
        <h2 class="cardCellText" >Гавана Браун</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Гималайская</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Гигантская афродита</h2>
    </div>

    <div class="cardCell" >
        <h2 class="cardCellText" >Девон-рекс</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Донской сфинкс</h2>
    </div>

    <div class="cardCell" >
        <h2 class="cardCellText" >Египетский мау</h2>
    </div>

    <div class="cardCell" >
        <h2 class="cardCellText" >Канаани</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Као мани</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Кельтская</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Корат</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Курильский бобтейл</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Канадский сфинкс</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Карельский бобтейл</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Кимрик</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Корниш-рекс</h2>
    </div>

    <div class="cardCell" >
        <h2 class="cardCellText" >Лаперм</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Ликой</h2>
    </div>

    <div class="cardCell" >
        <h2 class="cardCellText" >Манчкин</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Меконгский бобтейл</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Мэнкс</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Мейн-кун</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Минскин</h2>
    </div>

    <div class="cardCell" >
        <h2 class="cardCellText" >Немецкий рекс</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Норвежская лесная</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Нибелунг</h2>
    </div>

    <div class="cardCell" >
        <h2 class="cardCellText" >Орегон-рекс</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Оцикет</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Ориентальная</h2>
    </div>

    <div class="cardCell" >
        <h2 class="cardCellText" >Персидская</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Пикси-боб</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Петерболд</h2>
    </div>

    <div class="cardCell" >
        <h2 class="cardCellText" >Рагамаффин</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Рэгдолл</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Русская голубая</h2>
    </div>

    <div class="cardCell" >
        <h2 class="cardCellText" >Саванна</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Серенгети</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Сибирская</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Скукум</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Сококе</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Селкирк-рекс</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Сиамская</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Сингапурская</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Сноу-шу</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Сомалийская</h2>
    </div>

    <div class="cardCell" >
        <h2 class="cardCellText" >Тайская</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Тойгер</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Турецкая ангора</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Той-боб</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Тонкинская</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Турецкий ван</h2>
    </div>

    <div class="cardCell" >
        <h2 class="cardCellText" >Украинский левкой</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Уральский рекс</h2>
    </div>

    <div class="cardCell" >
        <h2 class="cardCellText" >Цейлонская</h2>
    </div>

    <div class="cardCell" >
        <h2 class="cardCellText" >Чаузи</h2>
    </div>

    <div class="cardCell" >
        <h2 class="cardCellText" >Шантильи Тиффани</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Шартрез</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Шотландская вислоухая</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Шотландская прямоухая</h2>
    </div>


    <div class="cardCell" >
        <h2 class="cardCellText" >Эгейская кошка</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Экзотическая</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Эльф</h2>
    </div>


    <div class="cardCell" >
        <h2 class="cardCellText" >Яванская</h2>
    </div>
    <div class="cardCell" >
        <h2 class="cardCellText" >Японский бобтейл</h2>
    </div>
</div>
    
</div>

