.row{
    width: 1088px;
    flex-wrap: wrap;
  }
  .seh_t{
    font-size:20px
  }
  .fl_search{
    padding: 15px;
    width: 1024px;
    height: 20px;
    transition: 0.2s;
    box-shadow: 0px 0px 20px 0px #0000000d;
  }
  .fl_search_cn{
    padding: 10px 17px;
    width: 1058px;
  }
  .fl_tl{
    padding: 9px 15px;
    color:  var(--button_color);
    background:var(--button_background);
    text-align: center;
    border-radius: 5px;
  }
  .fl_searchs{
    padding: 10px 0px;
  }
  .fl_sear {
    width: 62px;
    padding: 5px 10px;
    border: 2px solid var(--input_background);
    height: 18px;
    margin: 0px 7px;
    transition:.2s;
    text-align: center;
    border-radius: 10px;
    font-family: 'Open Sans';
    background: var(--content_background);
    color: var(--text_color);
  }
  .fl_searchs_cn {
    padding: 20px 15px 15px 15px;
    color: var(--text_color);
  }
  .old{
    width: 50px !important;
  }
  input[type="checkbox"]{
      appearance: none;
      width: 25px;
      height: 25px;
      background: var(--button_color);
      border: 2px solid var(--input_background);
      border-radius: 5px;
      transition: .2s;
      background: var(--content_background);
  }
  input[type="checkbox"]:hover{
    border: 2px solid var(--button_background);
  }
  input[type="checkbox"]:after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    font-size: 20px;
    color: var(--button_color);
    display: none;
  }
  input[type="checkbox"]:checked{
    background:var(--button_background);
    border-radius: 5px;
    border: 2px solid var(--button_background);
  }
  input[type="checkbox"]:checked:after{
    display:block;
  }
  input[type="checkbox"]:focus {
    border: 2px solid var(--button_background);
    outline: none;
  }
  .checkboxPadding{
    padding: 3px;
  }