<div class="fl_search_cn flex_item_cn" >
    <input class="fl_search search_interaction bl_frame seh_t" type="text" placeholder="Поиск">
  </div> 
  <div class="flex_item_cn" >
    <div class="row flex_item_cn" >
      <app-buy-block
        *ngFor="let CatBlock of declarations"
        [buyCatBlock]="CatBlock"
      ></app-buy-block>
      </div>
  <div>
    <div style="margin-top: -64px;" class="scroll_box bl_frame" >
      <div class="fl_tl" >
        <h2 style="font-size:30px" >Фильтры</h2>
      </div>
      <div class="filterBox" >
        <div class="fl_searchs_cn" >
          <h2 >Цена</h2>
          <div class="fl_searchs flex_item_cn" >
            <div class="flex_item_cn" >
              <h2>от</h2>
              <input class="fl_sear search_interaction seh_t b_t" type="text">
            </div>
            <div class="flex_item_cn">
              <h2>до</h2>
              <input class="fl_sear search_interaction seh_t b_t"type="text">
            </div>
            <div class="flex_item_cn">
              <h2>₽</h2>
            </div>
          </div>
        </div>
        <div class="hr" ></div>
        <div class="fl_searchs_cn" >
          <h2 >Пол</h2>
          <div class="fl_searchs flex_item_cn" style="justify-content: space-between;" >
            <div class="flex_item_cn" >
              <div class="checkboxPadding"> 
                <input type="checkbox" >
              </div>
              <h2>мальчик</h2>
            </div>
            <div class="flex_item_cn">
              <div class="checkboxPadding"> 
                <input type="checkbox" >
              </div>
              <h2>девочка</h2>
            </div>
          </div>
        </div>
        <div class="hr" ></div>
        <div class="fl_searchs_cn" >
          <h2>Возраст</h2>
          <div class="fl_searchs flex_item_cn" >
            <div class="flex_item_cn " >
              <h2>от</h2>
              <input class="fl_sear old search_interaction seh_t b_t" type="text">
            </div>
            <div class="flex_item_cn">
              <h2>до</h2>
              <input class="fl_sear old search_interaction seh_t b_t"type="text">
            </div>
            <div class="flex_item_cn">
              <h2>лет</h2>
            </div>
          </div>
        </div>
        <div class="hr" ></div>
        <div class="fl_searchs_cn" >
          <h2 >Порода</h2>
          <div class="fl_searchs" >
              <div class="simple_btn" >
                <h2 class="seh_t" >Выбрать породу</h2>
              </div>
          </div>
        </div> 
        <div class="hr" ></div>
        <div class="fl_searchs_cn" >
          <h2 >Город / Область</h2>
          <div class="fl_searchs" >
              <div class="simple_btn" >
                <h2 style="font-size:18px;" >Выбрать город / регион</h2>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>    
  
  
  